<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <style type="text/css">
        label{
        background-color:orange;
        font color:BLUE;
        font-weight:bold;
        padding:4px;
        text-transform:uppercase;
        font-size:14px;
        }
    </style>
</head>
<body bgcolor="cyan">
<table bgcolor="grey" width=100%>
    <td>
        <center>
            <h1> School Quiz</h1>
        </center>
    </td>
</table>
<h2> <a href="\signup_page\"><b>School Admin Registration</b></a> </h2>
<h2> <a href="login_page/"><b> School Create New Quiz</b></a> </h2>
<h2> <a href="student_login/"><b>Student Start Test</b></a> </h2>
</body>
</html>